@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font: "Space Mono", monospace;

    --fg-color: #222831;
    
    --bg-color: #EEEEEE;

    --ac-one: #7ac6ca;
    --ac-two: #FC6736;
    --ac-three: #0C2D57;
}


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--fg-color);

    font-weight: 400;
    font-size: 1rem;
    font-family: "Space Mono", monospace;
    font-style: normal;

    background-color: var(--bg-color);

    overflow: hidden;
}

.char-flip {
    position: relative;
}

/* animations */


.down-rotate {
    animation: down-rotate 900ms forwards linear;
}
.down-flip {
    animation: down-flip 900ms forwards linear;
}

@keyframes down-rotate {
    from {
        transform: translate(-50%, -50%) rotateY(0deg) skew(0deg);
    }
    to {
        transform: translate(-50%, 350%) rotateY(260deg) skew(20deg);
    }
}

@keyframes down-flip {
    from {
        transform: translate(-50%, -50%) rotateX(0deg) skew(0deg);
    }
    to {
        transform: translate(-50%, 350%) rotateX(-160deg) skew(-20deg);
    }
}
